<div data-att-index data-att-fullpage data-bullets class="sections">
	<div class="scroll-btn__wr">
		<button data-fp-switch-btn type="button" class="scroll-btn" aria-label="next section">
			<div class="scroll-btn__block">
				<img class="scroll-btn__img-top" src="@img/icons/scroll-top.svg" width="24" height="38" alt="Image">
				<img class="scroll-btn__img-arr" src="@img/icons/scroll-dwn.svg" width="17" height="8" alt="Image">
			</div>
		</button>
	</div>
	<section data-fp-section class="section section--1">
		<div class="section--1__wrp">
			<div class="flint-player">
				<div class="flint-player__frame frame--1">
					<img fetchpriority="high" class="ibg ibg--cn" src="@img/flints/flint-08.png" width="180" height="188" alt="pack 1">
				</div>
				<div class="flint-player__frame frame--2">
					<img fetchpriority="high" class="ibg ibg--cn" src="@img/flints/flint-04.png" width="180" height="188" alt="pack 2">
				</div>
				<div class="flint-player__frame frame--3">
					<img fetchpriority="high" class="ibg ibg--cn" src="@img/flints/flint-05.png" width="180" height="188" alt="pack 3">
				</div>
			</div>

			<div class="plativka">
				<div class="plativka__plt">
					<img fetchpriority="high" class="ibg ibg--cn" src="@img/hero/plativka.png" width="600" height="600" alt="Image">
				</div>
				<div class="plativka__img-title">
					<img class="ibg ibg--cn" src="@img/hero/text-flint-craft.svg" width="312" height="99" alt="Image">
				</div>
				<div class="plativka__logo">
					<img fetchpriority="high" class="ibg ibg--cn" src="@img/icons/logo.svg" width="220" height="220" alt="Image">
				</div>
				<div class="plativka__tip">
					<p>Клікни, щоб запустити крутий трек <span></span></p>
				</div>
				<div class="flint-player__center-control">
					<button type="button" class="play-toggle play-toggle--hero" aria-label="Play / Pause">
						<img class="icon-play" src="@img/icons/play.svg" width="112" height="112" alt="Play">
						<img class="icon-pause" src="@img/icons/pause.svg" width="112" height="112" alt="Pause">
					</button>
				</div>
				<h1 class="plativka__title">
					FLINTКРИВАЙ<br> крафтові смаки
				</h1>
			</div>

			<div class="music-card" data-player>
				<div class="music-card__header">
					<div class="music-card__cover">
						<img class="ibg" src="@img/hero/cover.png" width="70" height="70" alt="Flint Craft">
					</div>
					<div class="music-card__meta">
						<div class="music-card__title">Всі ми любим грінки Flint</div>
						<div class="music-card__artist">Flint Craft</div>
					</div>
				</div>

				<div class="music-card__lyrics-wrap" data-lyrics-wrap>
					<div class="music-card__lyrics" data-lyrics></div>
				</div>

				<div class="music-card__bottom">
					<div class="music-card__progress">
						<input class="music-card__range" type="range" min="0" max="100" step="0.01" value="0" data-progress aria-label="Audio progress">
						<div class="music-card__time">
							<span data-current-time>0:00</span>
							<span data-remaining-time>-1:47</span>
						</div>
					</div>

					<div class="music-card__controls">
						<button type="button" class="music-card__fake-btn" aria-hidden="true" tabindex="-1">
							<img src="@img/icons/prev.svg" width="40" height="40" alt="image">
						</button>

						<button type="button" class="play-toggle play-toggle--card" aria-label="Play / Pause">
							<img class="icon-play" src="@img/icons/pl-play.svg" width="48" height="48" alt="Play">
							<img class="icon-pause" src="@img/icons/pl-pause.svg" width="48" height="48" alt="Pause">
						</button>

						<button type="button" class="music-card__fake-btn" aria-hidden="true" tabindex="-1">
							<img src="@img/icons/next.svg" width="40" height="40" alt="image">
						</button>
					</div>
				</div>

				<audio id="flintAudio" preload="metadata">
					<source src="@files/Flint.mp3" type="audio/mpeg">
					<source src="@files/Flint.ogg" type="audio/ogg">
					<!-- <source src="files/song.wav" type="audio/wav"> -->
				</audio>
			</div>
		</div>
	</section>
	<section data-fp-section class="section section--2">
		<div class="section--2__wrp">
			<div class="section--2__plt">
				<img loading="lazy" class="ibg ibg--cn" src="@img/hero/plativka.png" width="600" height="600" alt="Image">
			</div>
			<div class="video-youtube">
				<div data-att-video class="video-youtube__body">
					<button class="video-youtube__button" type="button" data-youtube="bYkynBA7lkA" aria-label="кнопка відкриття відео з youtube">
						<img class="ibg" loading="lazy" src="@img/poster.jpg" width="784" height="400" alt="poster video">
					</button>
				</div>
				<ul class="social">
					<li class="social__item">
						<a href="#" class="social__link" aria-label="link">
							<img loading="lazy" class="ibg ibg--cn" src="@img/icons/ig.svg" width="60" height="60" alt="Image">
						</a>
					</li>
					<li class="social__item">
						<a href="#" class="social__link" aria-label="link">
							<img loading="lazy" class="ibg ibg--cn" src="@img/icons/tt.svg" width="60" height="60" alt="Image">
						</a>
					</li>
					<li class="social__item">
						<a href="#" class="social__link" aria-label="link">
							<img loading="lazy" class="ibg ibg--cn" src="@img/icons/yt.svg" width="60" height="60" alt="Image">
						</a>
					</li>
					<li class="social__item">
						<a href="#" class="social__link" aria-label="link">
							<img loading="lazy" class="ibg ibg--cn" src="@img/icons/tr.svg" width="60" height="60" alt="Image">
						</a>
					</li>
				</ul>
			</div>
		</div>

	</section>
	<section data-fp-section class="section section--3">
		<div class="section--3__wrp">
			<h2 class="section--3__title">
				Скуштуй крафтові смаки
			</h2>
			<div data-att-slider class="flint__slider swiper">
				<div class="flint__wrapper swiper-wrapper">
					<article class="flint__slide swiper-slide">
						<div class="slide-flint">
							<div class="slide-flint__img">
								<img loading="lazy" class="ibg ibg--cn" src="@img/flints/flint-12.png" width="343" height="360" alt="Image">
							</div>
							<h2 class="slide-flint__title">
								Стейк BBQ
							</h2>
						</div>
					</article>
					<article class="flint__slide swiper-slide">
						<div class="slide-flint">
							<div class="slide-flint__img">
								<img loading="lazy" class="ibg ibg--cn" src="@img/flints/flint-11.png" width="343" height="360" alt="Image">
							</div>
							<h2 class="slide-flint__title">
								Міцний табаско
							</h2>
						</div>
					</article>
					<article class="flint__slide swiper-slide">
						<div class="slide-flint">
							<div class="slide-flint__img">
								<img loading="lazy" class="ibg ibg--cn" src="@img/flints/flint-01.png" width="343" height="360" alt="Image">
							</div>
							<h2 class="slide-flint__title">
								Лосось та вершковий соус
							</h2>
						</div>
					</article>
					<article class="flint__slide swiper-slide">
						<div class="slide-flint">
							<div class="slide-flint__img">
								<img loading="lazy" class="ibg ibg--cn" src="@img/flints/flint-02.png" width="343" height="360" alt="Image">
							</div>
							<h2 class="slide-flint__title">
								Бекон та гірчиця
							</h2>
						</div>
					</article>
					<article class="flint__slide swiper-slide">
						<div class="slide-flint">
							<div class="slide-flint__img">
								<img loading="lazy" class="ibg ibg--cn" src="@img/flints/flint-03.png" width="343" height="360" alt="Image">
							</div>
							<h2 class="slide-flint__title">
								Пікантні ковбаски
							</h2>
						</div>
					</article>
					<article class="flint__slide swiper-slide">
						<div class="slide-flint">
							<div class="slide-flint__img">
								<img loading="lazy" class="ibg ibg--cn" src="@img/flints/flint-04.png" width="343" height="360" alt="Image">
							</div>
							<h2 class="slide-flint__title">
								Томат спайсі
							</h2>
						</div>
					</article>
					<article class="flint__slide swiper-slide">
						<div class="slide-flint">
							<div class="slide-flint__img">
								<img loading="lazy" class="ibg ibg--cn" src="@img/flints/flint-05.png" width="343" height="360" alt="Image">
							</div>
							<h2 class="slide-flint__title">
								Часник
							</h2>
						</div>
					</article>
					<article class="flint__slide swiper-slide">
						<div class="slide-flint">
							<div class="slide-flint__img">
								<img loading="lazy" class="ibg ibg--cn" src="@img/flints/flint-06.png" width="343" height="360" alt="Image">
							</div>
							<h2 class="slide-flint__title">
								Кабаноси з гірчицею
							</h2>
						</div>
					</article>
					<article class="flint__slide swiper-slide">
						<div class="slide-flint">
							<div class="slide-flint__img">
								<img loading="lazy" class="ibg ibg--cn" src="@img/flints/flint-07.png" width="343" height="360" alt="Image">
							</div>
							<h2 class="slide-flint__title">
								Міцний чілі
							</h2>
						</div>
					</article>
					<article class="flint__slide swiper-slide">
						<div class="slide-flint">
							<div class="slide-flint__img">
								<img loading="lazy" class="ibg ibg--cn" src="@img/flints/flint-08.png" width="343" height="360" alt="Image">
							</div>
							<h2 class="slide-flint__title">
								Гострі джерки
							</h2>
						</div>
					</article>
					<article class="flint__slide swiper-slide">
						<div class="slide-flint">
							<div class="slide-flint__img">
								<img loading="lazy" class="ibg ibg--cn" src="@img/flints/flint-09.png" width="343" height="360" alt="Image">
							</div>
							<h2 class="slide-flint__title">
								Часник
							</h2>
						</div>
					</article>
					<article class="flint__slide swiper-slide">
						<div class="slide-flint">
							<div class="slide-flint__img">
								<img loading="lazy" class="ibg ibg--cn" src="@img/flints/flint-10.png" width="343" height="360" alt="Image">
							</div>
							<h2 class="slide-flint__title">
								Каре телятини
							</h2>
						</div>
					</article>
				</div>
				<button type="button" class="flint__sl-btn swiper-button-prev" aria-label="prev">
					<img class="ibg ibg--cn" src="@img/icons/btn-left.svg" width="60" height="60" alt="Image">
				</button>
				<button type="button" class="flint__sl-btn swiper-button-next" aria-label="next">
					<img class="ibg ibg--cn" src="@img/icons/btn-right.svg" width="60" height="60" alt="Image">
				</button>
			</div>
		</div>
	</section>
</div>